.gr-btn {
    display: flex;
    flex-direction: row;
}

.gr-btn_child {
    width: 80px;
    align-items: center;
}

.gr-btn_child button {
    border: 0;
    border-radius: 50%;
    background-color: rgb(224, 223, 223);
}

.i4_container {
    width: 30%;
    border: 1px solid black;
    height: 100vh;
}

.count_gr {
    display: flex;
    flex-direction: row;
}

.btnxemtt {
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
}

.i4_header {
    width: 100%;
    border-bottom: 1px solid black;
    height: 10%;
    text-align: center;
}